@model IEnumerable<Comp2007_Final.Models.Order>

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

<p>
@if (Request.IsAuthenticated)
{
    @Html.ActionLink("Create New", "Create")
}
</p>

<input type="text" class="form-control" id="input" onkeyup="myFunction()" placeholder="Search by names..">
<br/>

<table class="table" id="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemFinish.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colour.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemFinish.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Colour.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EditDate)
        </td>
        <td>
            @if (Request.IsAuthenticated)
            {
            @Html.ActionLink("Edit", "Edit", new { id = item.OrderId }) <span>|</span>
            }   
            @Html.ActionLink("Details", "Details", new { id=item.OrderId }) 
            @if (Request.IsAuthenticated)
            {
                <span>|</span> @Html.ActionLink("Delete", "Delete", new { id = item.OrderId })
            }
        </td>
    </tr>
}

</table>

<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("input");
  filter = input.value.toUpperCase();
  table = document.getElementById("table");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>