@model Comp2007_Final.Models.Item
  

@{
    ViewBag.Title = "Details";
}
 
<h2>Item Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal imageInfo">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colours)
        </dt>

        <dd>
            <ul style="padding-left:15px;">
                @foreach (var item in Model.Colours)
                {
                    <li>@item.Colour.ToString()</li>
                }
            </ul>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditDate)
        </dd>

    </dl>
</div>
    
 <!-- IMAGE -->
            <img class="itemImg" src="../../Content/Assets/@(Html.DisplayFor(model => model.Name)).jpg" onerror="this.onerror = null; this.src = '../../Content/Assets/nofile.jpeg'"/>



<p>
    @if (Request.IsAuthenticated)
    {
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemId }) <span>|</span>
    }
    @Html.ActionLink("Back to List", "Index")
</p>
