@model Comp2007_Final.Models.Item
  

@{
    ViewBag.Title = "Details";
}
 
<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal imageInfo">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colours)
        </dt>
        <dd>
            <ul>
                @foreach (var item in Model.Colours)
                {
                    <li>@item.ToString()</li>
                }
            </ul>
        </dd>

        <dt>
            @Html.Partial("_FinishDetails", new Comp2007_Final.Models.ItemFinish());
        </dt>
        <dd>

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditDate)
        </dd>

    </dl>
</div>
    
 <!-- IMAGE -->
            <img class="itemImg" src="../../Content/Assets/@(Html.DisplayFor(model => model.Name)).jpg" onerror="this.onerror = null; this.src = '../../Content/Assets/nofile.jpeg'"/>



<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
