@model IEnumerable<Comp2007_Final.Models.Item>

@{
    ViewBag.Title = "Items Index";
}

<h2>Items</h2>

<p>
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Create New", "Create")
    }
    <span style="float:right;">@Html.ActionLink("View Gallery", "Gallery")</span>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditDate)
        </th>
        <th>Image</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EditDate)
        </td>
        <td>
            <div class="hover_img">
                <a href="#">Preview<span><img class="itemImgSmall" src="../../Content/Assets/@(Html.DisplayFor(modelItem => item.Name)).jpg" onerror="this.onerror = null; this.src = '../../Content/Assets/nofile.jpeg'" />
</span></a>
            </div>
        </td>
        <td>
            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.ItemId }) <span>|</span>
            }
            @Html.ActionLink("Details", "Details", new { id=item.ItemId })
            @if (Request.IsAuthenticated)
            { <span>|</span>
            @Html.ActionLink("Delete", "Delete", new { id = item.ItemId })
            }
        </td>
    </tr>
}

</table>
